<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale = 1.0, user-scalable=no" />
  <title>Eiko - Site officiel</title>
  <link rel="stylesheet" href="stylesheets/styles.css"/>
</head>
<body eiko ng-controller="EikoController">

  <div id="container">
    <header class="big">
      <div class="logo"></div>
        <ul>
          <li><span class="dot selected"></span><a href="#accueil">Accueil</a></li>
          <li><span class="dot"></span><a href="#concept">Concept</a></li>
          <li><span class="dot"></span><a href="#actu">Actu</a></li>
          <li><span class="dot"></span><a href="#equipe">Equipe</a></li>
        </ul>
    </header>

    <div class="screen" id="accueil" home scroll-tween="homeTl" mouse-parallax=".fragments li:nth-child(n+12), .items">
      <div class="content">
        <ul class="fragments">
          <li ng-repeat="fragment in fragments" class="shatter-fragment-{{fragment}}"></li>
        </ul>
        <img class="items" src="/assets/img/home/kiki.png" />
        <img class="items" src="/assets/img/home/gameboy.png" />
        <img class="items" src="/assets/img/home/bilboquet.png" />
      </div>
    </div>

    <div class="screen" id="concept" concept scroll-tween="conceptTl">
      <div class="concept-diapo" horizontal-scroll data-inner="slide-inner" data-outer="slide-wrapper" data-slide="slide" data-nav="true">
        <div class="slide-wrapper">
          <div class="slide-inner">
            <div class="slide">
              <div class="content">
                <img src="/assets/img/concept/tv.png" />
              </div>
            </div>
            <div class="slide">
              <div class="content">
                <div class="block">
                  <h1>Un jeu utilisant des cartes réelles</h1>
                  <img src="/assets/img/concept/cartes.png" />
                  <p>Le support papier permet de rassurer afin de ne pas perdre les seniors et de garder tout l’esprit du jeu de Bataille classique.</p>
                </div>
                <div class="block">
                  <h1>Un support de jeu numérique</h1>
                  <img src="/assets/img/concept/ipads.png" />
                  <p>Deux iPads connectés permettant de se confronter dans une bataille de générations à travers une série de mini-jeux.</p>
                </div>
                <div class="block">
                  <h1>Une nouvelle manière de jouer</h1>
                  <img src="/assets/img/concept/ipad-carte.png" />
                  <p>Utilisation des cartes comme objets tangibles afin d’intéragir avec l’iPad.</p>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="content">
                <div class="block">
                  <h1>Représentez votre génération</h1>
                  <p>Eiko est un jeu qui permet de défendre et de représenter sa génération à travers des objets icônes.</p>
                  <p>Ces objets agissent comme des "madeleines" de Proust et font ressurgir pour chacune des générations un souvenir et un sentiment d’appartenance.</p>
                  <img src="assets/img/concept/illu-1.png" />
                </div>
                <div class="block">
                  <h1>Confrontez vos icônes</h1>
                  <p>Le concept est de faire combattre ces icones à travers un jeu de bataille et de duels.</p>
                  <p>Ces duels sont des mini-jeux, funs et rapides autour de l’usage de ces objets générationnels.</p>
                  <img src="assets/img/concept/illu-2.png" />
                </div>
                <div class="block">
                  <h1>Découvrez les icones des autres génération</h1>
                  <p>L’idée est aussi de découvrir à travers ce conflit intergénérationnel, des icones des générations futures ou antérieures, de comprendre leurs usages ainsi que leurs valeurs affectives.</p>
                  <img src="assets/img/concept/illu-3.png" />
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="content" ipad-diapo data-inner="ipad-inner" data-outer="ipad-wrapper" data-slide="ipad-slide">
                <div class="arrow left"></div>
                <div class="arrow"></div>
                <img class="ipad" src="assets/img/concept/ipad-slider.png"/>
                <div class="ipad-wrapper">
                  <div class="ipad-inner">
                    <ul>
                      <li class="ipad-slide" ng-repeat="interface in slideDiaporama"><img ng-src="assets/img/concept/interface-{{interface}}.jpg" /></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="screen" id="actu" actu scroll-tween="actuTl">
      <div class="content">
        <div class="block">
          <img src="/assets/img/actu/futur-en-seine.png" />
          <div class="text">
            <h1>Futur en Seine</h1>
            <p>Le projet sera présenté au public lors du festival de création numérique Futur en Seine le 16 juin 2013.</p>
            <p>Cette exposition à Futur en Seine se fait grâce au partenariat entre l’école Gobelins avec le Cube.</p>
          </div>
        </div>
        <div class="block">
          <img src="/assets/img/equipe/logo-gobelins.png" />
          <div class="text">
            <h1>Gobelins</h1>
            <p>Le projet sera présenté devant un jury de fin d’année à l’école Gobelins le 14 juin 2013.</p>
            <p>Le jour de la soutenance, un jury de professionnel évaluera le résultat, et la pertinence du projet.</p>
          </div>
        </div>
        <div class="block">
          <img src="/assets/img/equipe/logo-le-cube.png" />
          <div class="text">
            <h1>Happy Cube Days</h1>
            <p>Le projet aura l’opportunité d’obtenir une visibilité auprès du public à l’occasion d’une exposition dans le cadre de l’Happy Cube Day du 22 juin 2013.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="screen" id="equipe" equipe scroll-tween="equipeTl">
      <ul id="logos">
        <li><img src="/assets/img/equipe/logo-gobelins.png" /></li>
        <li><img src="/assets/img/equipe/logo-le-cube.png" /></li>
        <li><img src="/assets/img/equipe/logo-cci.gif" /></li>
      </ul>

      <div class="content">
        <div class="block">
          <div class="text">
            <h1>Julien Suard</h1>
            <p>Concepteur Réalisateur multimédia</p>
            <p>Direction artistique sur le projet</p>
            <p><a href="mailto:julien.suard@outlook.com">julien.suard@outlook.com</a></p>
          </div>
          <img src="assets/img/equipe/pen.png" />
        </div>

        <div class="block">
          <img src="assets/img/equipe/screen.png" />
          <div class="text">
            <h1>Florian Morel</h1>
            <p>Concepteur Réalisateur multimédia</p>
            <p>Direction technique sur le projet</p>
            <p><a href="http://ayamflow.fr">http://ayamflow.fr</a></p>
          </div>
        </div>

        <div class="block">
          <div class="text">
            <h1>Remerciements</h1>
            <p>Eiko est le projet de 2 étudiants Concepteurs Réalisateurs Multimédia à Gobelins, l'école de l’image en partenariat avec le Cube.</p>
            <p>Remerciements à Thomas Menia, Véronique Ficara, Catherine Nyeki, Florian Zumbrunn, Dorian Darcourt et aux intervenantes du Cube: Carine Lemalet et Isabelle Simon.</p>
          </div>
        </div>
    </div>
  </div>
</div>

  <!-- <div scrollbar-size class="scrollbar-size"></div> -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script> -->

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<!-- sb: concat js/vendors.js -->
<script src="assets/lib/angular/angular.min.js"></script>
<script src="assets/lib/greensock/TweenMax.min.js"></script>
<script src="assets/lib/greensock/TimelineMax.min.js"></script>
<script src="assets/lib/greensock/easing/EasePack.min.js"></script>
<script src="assets/lib/greensock/scrollToPlugin.js"></script>
<!-- sb: end -->

<!-- sb: compile js/myapp.min.js -->
<script src="js/app.js"></script>
<script src="js/controllers/controllers.js"></script>
<script src="js/filters/filters.js"></script>
<script src="js/utils/utils.js"></script>
<script src="js/factories/factories.js"></script>
<script src="js/directives/utils/scrollbarSize.js"></script>
<script src="js/directives/utils/scrollTween.js"></script>
<script src="js/directives/utils/horizontalScroll.js"></script>
<script src="js/directives/utils/ipadDiapo.js"></script>
<script src="js/directives/utils/mouseParallax.js"></script>
<script src="js/directives/layout/eiko.js"></script>
<script src="js/directives/layout/home.js"></script>
<script src="js/directives/layout/concept.js"></script>
<script src="js/directives/layout/actu.js"></script>
<script src="js/directives/layout/equipe.js"></script>
<!-- sb: end -->

</body>
</html>
